# various backup files (not needed with git)
*~
*.abs~
*.backup
*.bak?
*.tmp
*.$-$
# mizar byproducts
*.lsp
*.$ev
*.aco
*.ali
*.ano
*.atr
*.cho
*.cmm
*.dcl
*.dco
*.dct
*.dcx
*.def
*.dfe
*.dfr
*.dfs
*.dfx
*.dno
*.drd
*.ecl
*.edt
*.eid
*.eno
*.epr
*.erd
*.ere
*.err
*.esh
*.eth
*.evd
*.evl
*.fil
*.frm
*.frx
*.idx
*.irv
*.log
*.msx
*.nol
*.par
*.prf
*.ptr
*.ref
*.sch
*.sgl
*.the
*.vcl
*.wsx
*.html
*.xml
.idea